<script type="text/template" id="index">
    <div class="bns_inner_block">
        <div class="bns_top" data-bind="click: toggle_landing">
            <span class="bns_top_head">
                Бонусная программа
            </span>
            <div class="bns_top_item">
                <img src="src/img/top_ic1.png" alt="">
                <span>Получайте бонусы<br>
                    за покупки в магазинах<br>
                    и на сайте СпортDепо</span>
            </div>
            <div class="bns_top_item">
                <img src="src/img/top_ic2.png" alt="">
                <span>Получайте<br>
                    персональные<br>
                    предложения</span>
            </div>
            <div class="bns_top_item">
                <img src="src/img/top_ic3.png" alt="">
                <span>Тратьте бонусы<br>
                    на оплату покупок:<br>
                    1 бонус = 1 рубль</span>
            </div>
        </div>

        <div class="bns_text_block" data-bind="visible: landing()">
            <h2>Клубная программа</h2>
            <p>
                Клубная программа СПОРДЕПО – это накопительная бонусная программа, позволяющая ее участникам совершать выгодные покупки в
                магазинах и на сайте www.sportdepo.ru и пользоваться дополнительными сервисами и привилегиями.
                <br><br> Чтобы стать участником Клубной программы СПОРДЕПО, необходимо совершить покупку и заполнить анкету
                в любом магазине розничной сети или пройти регистрацию на сайте.
            </p>
            <hr>
            <h2>Преимущества участника</h2>
            <ul>
                <li>значительная выгода при покупке товаров</li>
                <li>полезные информационные сервисы</li>
                <li>подарки на день рождения</li>
                <li>дополнительные привилегии в обслуживании</li>
                <li>выгодные условия по сервису и ремонту инвентаря</li>
            </ul>
            <hr>
            <h2>Описание преимуществ программы</h2>
            <p>
                После регистрации Вы сможете копить и тратить бонусы, получать скидки на сервис и другие привилегии, используя Ваш номер
                мобильного телефона. При желании Вы сможете бесплатно получить в магазине пластиковую Клубную Карту.
                <br>
                <br> Получайте баллы
                <br> Получайте 1 балл за каждые 20 руб. во всех магазинах СПОРТДЕПО и на сайте www.sportdepo.ru
                <br>
                <br> Получайте привилегии

                <br><br>
                <ul>
                    <li>Приветственные бонусы – за регистрацию клубной карты мы подарим Вам 500 бонусов!</li>
                    <li>Получайте баллы в подарок на Ваш день рождения</li>
                    <li>Участвуйте в акциях – получайте больше баллов</li>
                    <li>Покупайте больше и переходите на новый уровень</li>
                </ul>
                <p><br>Выгода при покупке
                    <br> Оплачивайте бонусами до 20% стоимости Ваших покупок. 1 бонус = 1 рубль
                    <br> Дополнительная выгода
                    <br> Сотни товаров по сниженным ценам</p>

            </p>
            <hr>
            <h2>Где получить карту</h2>
            <p>Карту можно получить бесплатно во всех магазинах СПОРТДЕПО</p>
            <hr>
            <h2>Бонусы на День Рождения</h2>
            <p>
                Зарегистрируйтесь в Клубной программе сегодня и получите:
                <br><br>
            </p>
            <ul>
                <li>700 бонусов(1 бонус=1рубль) = 500 приветственных бонусов за регистрацию и</li>
                <li>200 бонусов за подписку на e-mail</li>
            </ul>

            <p>
                <br> Укажите дату своего рождения и мы подарим Вам на день рождения
            </p>
            <div class="bns_cake_block">
                <div class="bns_cake_item">
                    <div class="bns_cake_item_img">
                        <img src="src/img/tort1.png" alt="">
                    </div>
                    <span class="bns_cake_bal">
                       <span class="bns_cake_bal_num">
                        500
                       </span>
                    <span class="bns_cake_bal_text">
                        бонусов
                       </span>
                    </span>
                    <span class="bns_cake_name">
                       участнику любительского<br>уровня
                   </span>
                </div>
                <div class="bns_cake_item">
                    <div class="bns_cake_item_img">
                        <img src="src/img/tort2.png" alt="">
                    </div>
                    <span class="bns_cake_bal">
                       <span class="bns_cake_bal_num">
                        1000
                       </span>
                    <span class="bns_cake_bal_text">
                        бонусов
                       </span>
                    </span>
                    <span class="bns_cake_name">
                       обладателю<br>полупрофессиональной карты
                   </span>
                </div>
                <div class="bns_cake_item">
                    <div class="bns_cake_item_img">
                        <img src="src/img/tort3.png" alt="">
                    </div>
                    <span class="bns_cake_bal">
                       <span class="bns_cake_bal_num">
                        2000
                       </span>
                    <span class="bns_cake_bal_text">
                        бонусов
                       </span>
                    </span>
                    <span class="bns_cake_name">
                       обладателю<br>PRO-карты
                   </span>
                </div>
            </div>
        </div>

        <div data-bind="visible: !landing()">
            <div class="bns_info">
                <div class="bns_info_left">
                    <div class="bns_info_text" data-bind="component: 'ko-profile'"></div>
                    <div class="bns_info_hist" data-bind="component: 'ko-history'"></div>
                    <div class="bns_info_slide" data-bind="component: {
                        name: 'ko-slider',
                        params: { slides: slider_items }
                    }"></div>
            </div>
            <div class="bns_info_right" data-bind="component: 'ko-status'"></div>
        </div>

        <div class="btn_tab_main" data-bind="component: {
                name: 'ko-tabs',
                params: { tabs: [
                    {id: 'tab_qust', description: 'За выполнение заданий вы получите баллы', name: 'Задания'},
                    {id: 'tab_gift', description: 'Потратьте ваши накопленные баллы на подарки', name: 'Подарки'},
                    {id: 'tab_achiv', description: 'Полученные вами награды', name: 'Награды'}
                ]}
                }">
            <div class="bns_tab bns_tab_qust" data-bind="visible: tabs()[currentTabIndex()].id == 'tab_qust', component: 'ko-quest'"></div>
            <div class="bns_tab bns_tab_gift" data-bind="visible: tabs()[currentTabIndex()].id == 'tab_gift', component: 'ko-gifts'"></div> 
            <div class="bns_tab bns_tab_achiv" data-bind="visible: tabs()[currentTabIndex()].id == 'tab_achiv', component: 'ko-achiv'"></div>                       
        </div>
    </div>
</script>